 <div class="col-md-8 offset-md-3">
    <h3>Ajouter un Projet</h3>
    <form      >
        
        <div class="form-group">
            <label for="Titre">Titre</label>
            <input type="text" class="form-control" id="Titre" [(ngModel)]="detail.NomProjet">
        </div>
    <div class ="form-group">
        <label> classe</label>
        <input type="text" class="form-control" id="classe" [(ngModel)]="detail.classe"  >
    </div>
   
    <div class ="form-group">
        <label>more description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="detail.description"  >
    </div>

    
    <button class="btn btn-success" type="submit">Submit</button>

    </form>
    </div>
 


   

