
<div class="project-details-container ">
<div class="project-detail">
    <div class="attribute">Nom du Projet:</div>
    <div class="value">{{ detail.NomProjet}}</div>
  </div>
  <div class="project-detail">
    <div class="attribute">Classe:</div>
    <div class="value">{{ detail.classe }}</div>
  </div>
  <div class="project-detail">
    <div class="attribute">Description:</div>
    <div class="value">{{ detail.description }}</div>
  </div>
  <div class="project-detail">
    <div class="attribute">Date de Dépôt:</div>
    <div class="value">{{ detail.dateDepot }}</div>
  </div>
  <div class="project-detail">
    <div class="attribute">Nom du Responsable du Dépôt:</div>
    <div class="value">{{ detail.nomRespoDepot }}</div>
  </div>
</div>
