<br>
<br>

<br>
<br>





<h2>Results</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>lien Site Web</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Ratting</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let projet of projets">
            <td>{{ projet.lienSiteWeb}}</td>
            <td>{{ projet.titre }}</td>
            <td>{{ projet.description }}</td>
        
            <td>
                <span *ngFor="let star of generateStars(projet.rating)">
                    <i class="fa fa-star" [ngClass]="star"></i>
                </span>
            </td>
               <td>
                <button (click)="copyLink(projet.lienSiteWeb)" class="btn btn-copy">
                    <i class="fa fa-copy"></i> Copy Link
                </button>

                <button       routerLink="/chat/"               class="btn btn-chat">
                    <i class="fa fa-edit"></i> Chat
                </button>

                <button (click)="updateProjet(projet.projetID)" class="btn btn-update">
                    <i class="fa fa-edit"></i> Update
                </button>



                <button (click)="deleteProjet(projet.projetID)"  class="btn btn-delete">
                    <i class="fa fa-trash"></i> Delete
                </button>



                <button (click)="getDetail(projet.projetID)" class="btn btn-detail">
                    <i class="fa fa-info-circle"></i> Details
                </button>

                <app-rating-stars [(rating)]="currentRating"></app-rating-stars>

               </td> 
             
    </tbody>
</table>