<section class="slider_section long_section">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="detail-box">
                    <div class="btn-box d-flex justify-content-center mt-3">
                        <a href="/frontClient/create-error" class="btn2 mr-3">
                            Add problem
                        </a>
                        <a href="frontClient" class="btn1">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="furniture_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Categories
        </h2>
        <p>
          Please choose on of the existing Categories
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images2/front.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5 class="text-center mb-3">
                Front_End
              </h5>
              <div class="price_box">
                  
                <a (click)="goToErrorsByCategory(front)">
                  Consult now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images2/back.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5 class="text-center mb-3">
                Back_End
              </h5>
              <div class="price_box">
                  
                <a (click)="goToErrorsByCategory(back)">
                  Consult now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images2/dev.png" alt="">
            </div>
            <div class="detail-box">
              <h5 class="text-center mb-3">
                DevOps
              </h5>
              <div class="price_box">
                  
                <a (click)="goToErrorsByCategory(devops)">
                  Consult now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images2/cloud.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5 class="text-center mb-3">
                Cloud Computing
              </h5>
              <div class="price_box">
                  
                <a (click)="goToErrorsByCategory(cloud)">
                  Consult now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images2/ds.png" alt="">
            </div>
            <div class="detail-box">
              <h5 class="text-center mb-3">
                Data Science
              </h5>
              <div class="price_box">
                  
                <a (click)="goToErrorsByCategory(ds)">
                  Consult now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images2/mobile.png" alt="">
            </div>
            <div class="detail-box">
              <h5 class="text-center mb-3">
                Mobile Development
              </h5>
              <div class="price_box">
                  
                <a (click)="goToErrorsByCategory(mobile)">
                  Consult now
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="assets/images2/ai.png" alt="">
              </div>
              <div class="detail-box">
                <h5 class="text-center mb-3">
                 Artificial Intelligence
                </h5>
                <div class="price_box">
                  
                    <a (click)="goToErrorsByCategory(ai)">
                      Consult now
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="assets/images2/cyber.jpeg" alt="">
              </div>
              <div class="detail-box">
                <h5 class="text-center mb-3">
                  Cyber Security
                </h5>
                <div class="price_box">
                  
                    <a (click)="goToErrorsByCategory(cyber)">
                      Consult now
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="assets/images2/other.png" alt="">
              </div>
              <div class="detail-box">
                <h5 class="text-center mb-3">
                 Other
                </h5>
                <div class="price_box">
                  
                  <a (click)="goToErrorsByCategory(other)">
                    Consult now
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  